<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>563703243567-t4ch2asv653bvtstbl5gpa9jk8sp7339.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.563703243567-t4ch2asv653bvtstbl5gpa9jk8sp7339</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>563703243567-rgau8c955jqtbgt4ic7o2othdkqpqf42.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD-sS5xG1ZaDsTRgr7llHRdEhPCthWylk8</string>
	<key>GCM_SENDER_ID</key>
	<string>563703243567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.dishatest</string>
	<key>PROJECT_ID</key>
	<string>flutterflowproject-ae675</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterflowproject-ae675.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:563703243567:ios:ec7d0e1aa027171daef7da</string>
</dict>
</plist>